@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $color;
  font-family: $font-family;
}

.container {
  max-width: 1280px;
  margin: auto;
}
